canvas {
  position: fixed;
  top: 0;
  left: 0;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  justify-content: center;
  align-items: center;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#button0 {
  width: 100px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  position: absolute; /* Position the button absolutely within the canvas */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the button perfectly */
  transition: background-color 0.3s ease;
}

#playpause {
  width: 100px;
  height: 100px;
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  position: absolute; /* Position the button absolutely within the canvas */
  top: 95%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the button perfectly */
  transition: background-color 0.3s ease;
}

#fastforward {
  width: 100px;
  height: 100px;
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  position: absolute; /* Position the button absolutely within the canvas */
  top: 90%; /* Center vertically */
  left: 90%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the button perfectly */
  transition: background-color 0.3s ease;
}

#reverseb {
  width: 100px;
  height: 100px;
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  position: absolute; /* Position the button absolutely within the canvas */
  top: 90%; /* Center vertically */
  left: 10%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the button perfectly */
  transition: background-color 0.3s ease;
}

img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
}

video {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
}

#button0:hover {
  background-color: transparent;
}